* text=auto
*.md text eol=lf
*.feature text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.py text eol=lf
*.go text eol=lf
*.mod text eol=lf
*.work text eol=lf
*.mjs text eol=lf
*.ps1 text eol=crlf
*.sh text eol=lf

